

@import (less) url("../../css/sh-mixins.less");
@import (less) url("../../css/sh-constants.less");


/* ==================
	BLOG HOME
===================== */

body {
    &.page--blogHome {
        .sh-blog-home {
            padding: 45px 0;

            .sh-blog-home-wrapper {
                padding: 0;

                > div {
                    padding: 0;
                }

                #blog-items {
                    .blog-post-item-wrapper {
                        .blog-post-item {
                            padding: 16px;
                            margin-bottom: 60px;

                            &:last-child {
                                border-bottom: none;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &.page--blogPostId {
        .sh-blog-post-id {
            padding: 45px 0;

            .sh-blog-post-id-wrapper {
                padding: 16px;

                .blog-post-info {
                    margin-bottom: 20px;
                    padding-bottom: 16px;
                }
            }
        }
    }
}
