<!--<section class="page-header page-header-xs">
    <div class="container">
        <h1>{{=details.title}}</h1>
        <ol class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/Posts">Объявления</a></li>
            <li class="active">{{=details.title}}</li>
        </ol>
    </div>
</section>-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="font-lato weight-300"><i class="fa fa-clock-o"></i> Опубликовано {{=moment(timestamp).fromNow()}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="owl-carousel buttons-autohide controlls-over nomargin" id="postImages" data-plugin-options='{"items": 1, "autoPlay": {{-_.size(details.photo)>1?'3500':'false'}}, "autoHeight": false, "navigation": true, "pagination": false, "transitionStyle":"fade", "progressBar":"false"}'>
                    {{ if (_.size(details.photos)>0){ }}
                    {{_.each(details.photos,function(photo){ }}
                        <div>
                            <img class="img-responsive" src="{{=photo.data}}" alt="">
                        </div>
                        {{});}}                 
                    {{ } else { }}
                        <div>
                            <img class="img-responsive" src="/images/demo/no-photo.png" alt="">
                        </div>
                    {{ } }}
                </div>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <tr>
                        <td>
                            <i class="fa fa-eye"></i> Просмотров
                        </td>
                        <td>
                            Всего: {{=stats.seenTotal}} Сегодня: {{=stats.seenToday}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-street-view"></i> Статус
                        </td>
                        <td>
                            {{var isDynamic = details.locations && _.find(details.locations,function(l){ return l.placeType==='dynamic';} );}}
                            <span title="{{=isDynamic?'Динамическое объявление':'Статическое'}}" class="fa fa-{{=isDynamic?'motorcycle':'flag' }} text-{{=isDynamic?'success':'muted'}}"></span>
                        </td>
                    </tr>
                    {{if (obj.type) { }}
                    <tr>
                        <td>
                            <i class="fa fa-list-alt"></i> Тип
                        </td>
                        <td>
                            <span class="label label-info">{{=type}}</span>
                        </td>
                    </tr>
                    {{ } }}
                    
                    <tr>
                        <td>
                            <i class="fa fa-location-arrow"></i> Дистанция
                        </td>
                        <td> {{=distance>=0?distance.toFixed(1):'Не определена'}} {{=distanceType==='km'?'км':'miles'}} </td>
                    </tr>
                    {{if(obj.social) { }}
                    <tr>
                        <td>
                            <i class="fa fa-heart"></i> Нравится
                        </td>
                        <td>
                            {{=_.size(social.likes)}}
                        </td>
                    </tr>
                    {{ } }}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="weight-300">{{=details.title}}</h2>
                <!--<div class="rating rating-4 size-20 margin-top-10 text-blue"></div>-->
                <ul class="portfolio-detail-list list-unstyled nomargin">
                    <li><span><i class="fa fa-calendar"></i>Действует до:</span> {{=moment(endDatePost).format("ll")}}</li>
                    {{if (details.price) { }}
                    <li><span><i class="fa fa-money"></i>Стоимость:</span> {{=details.price}}</li>
                    {{ } }}
                    {{if (details.locations){ }}
                    {{_.each(details.locations,function(loc){ }}
                    <li>
                        <span>
                            <i class="fa fa-map-marker"></i> Адрес
                        </span>
                        {{=loc.name}}
                    </li>
                    {{});}}
                    {{ } }}
                </ul>
                <p class="font-lato weight-300 size-15">{{=details.description}}</p>
            </div>
        </div>
        <div class="row alternate">
            <div class="col-md-12">
                <span class="margin-right-20">
                    <a href="#">
                        <img class="" src="{{=user.image && user.image.imageUrl?user.image.imageUrl:'/images/avatar.png'}}" alt="" width="50" height="50">
                    </a>
                    <span><strong>{{=user.username}}</strong> </span>
                </span>
                <!--<button type="button" class="btn btn-blue">Написать сообщение</button>
                <button type="button" class="btn btn-leaf"><i class="fa fa-heart-o"></i> Нравится</button>-->
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container" id="relatedPostsContainer"></div>
</section>