<!DOCTYPE html>
<html>
<head>

    <meta name="Author" content="shiners.ru" />

    <meta property="og:title" content="Shiners" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.shiners.ru" />
    <meta property="og:description" content="First blockchain-based local advertisting with possibility for personal monetizing. Первый основанный на блокчейне сервис локальных объявлений с возможностью личного заработка." />
    <meta property="og:image" content="https://shiners.ru/images/logo-home-medium-blue-bg.jpg" />
    @*<meta name="fragment" content="!"/>*@
    <title>Shiners</title>
    <link href="/build/site.css" rel="stylesheet" />
    <link href="/build/bundle.less.css" rel="stylesheet" />
    <link href="/favicon.ico" rel="icon" />
    
</head>
@RenderBody()
<script id="facebook-jssdk" type="text/javascript" src="//connect.facebook.net/ru_RU/sdk.js"></script>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?136"></script>
<script src="/build/bundle.js?v=@Shiners.WebApp.Util.Constants.BUILD_ID" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
</html>
