<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <meta name="keywords" content="Shiners" />
    <meta name="description" content="" />
    @*<meta name="fragment" content="!"/>*@
    <title>Shiners</title>
    <link href="/build/site.css" rel="stylesheet" />
    <link href="/build/bundle.less.css" rel="stylesheet" />
    <link href="/favicon.ico" rel="icon" />
    
</head>
@RenderBody()
<script id="facebook-jssdk" type="text/javascript" src="//connect.facebook.net/ru_RU/sdk.js"></script>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?136"></script>
<script src="/build/bundle.js?v=@Shiners.WebApp.Util.Constants.BUILD_ID" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
</html>
