.contact-over-map {
    height: 480px;
}
.map-section {
    padding-top: 10px;
    height: 480px;
}

.item-box figure {
    height: 200px;
}

.contact-over-box {
    min-height: inherit;
    padding: 5px 5px;
}

/*suggestion box*/
.suggestion-box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.07);
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    background-color: #fff;
    box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
    display: none;
    left: auto;
    padding: 10px 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 22;
    top: 40px;
}

.suggestion-box .suggestion-box-wrapper {
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
    
}
.suggestion-box-wrapper a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    display: block;
    padding: 15px 10px;
}

.suggestion-box-wrapper a h6 {
    margin: 0;
    overflow: hidden;
    padding: 4px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* */

.contact-over-box .toggle .toggle-content {
    padding: 5px 5px;
}
div.toggle {

    margin: 0;

}

/*header*/
#header {
    background-color: #51b9c8;
    background-image: linear-gradient(180deg, #51b9c8, #4695e6);
}
#topMain.nav-pills > li > a {
    color: #fff;
}
#topMain.nav-pills > li > a:hover {
    color: #fff;
}
#topMain.nav-pills > li.active > a {
    color: #fff;
}
#header.header-md #topNav a.logo > img {
    height: 47px;
    transition: all 0.3s ease 0s;
}

#header.header-md #topNav a.logo {

    line-height: 70px;
}
#topNav .btn {
    margin-top: 15px;
}
/**/

/*map bars and windows*/
.map-frame {
    padding: 5px 5px;
    background-color: #fff;
    box-shadow:#888 0 0 16px;
    z-index:5;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}

.map-frame-right {
    height: 460px;
    padding: 5px 5px;
    background-color: #fff;
    box-shadow:#888 0 0 16px;
    z-index:5;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;

}