

.contact-over-map {
    height: 500px;
}
.map-section {
    padding-top: 10px;
    height: 500px;
}

.item-box figure {
    height: 200px;
}

.contact-over-box {
    min-height: inherit;
}

/*suggestion box*/
.suggestion-box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.07);
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    background-color: #fff;
    box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
    display: none;
    left: auto;
    padding: 10px 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 22;
    top: 40px;
}

.suggestion-box .suggestion-box-wrapper {
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
    
}
.suggestion-box-wrapper a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    display: block;
    padding: 15px 10px;
}

.suggestion-box-wrapper a h6 {
    margin: 0;
    overflow: hidden;
    padding: 4px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* */