/* ==================
	CONSTANTS LESS
===================== */

@sh-main-white-color: rgba(255,255,255, 1);
@sh-main-lightgray-color: rgba(143,142,148, 1);
@sh-main-gray-color: rgba(74,74,74, 1);
@sh-main-content-bg: rgba(245, 245, 245, 1);

// Links
@a-color-link: rgba(74,144,226, 1);
@a-color-link-hover: rgba(34,105,191, 1);
@a-color-link-active: #4A90E2;

// Backgrounds and colors
@sh-main-blue-background: rgba(74,144,226, 1);
@sh-main-red: rgba(251,61,56, 1);
@sh-main-orange: rgba(252,147,38, 1);
@sh-main-second-blue-background: rgba(79,114,213, 1);
@sh-create-btn: rgba(251,61,56, 1);
@sh-main-border-color: rgba(230,230,230, 1);
@sh-main-color-icon: rgba(246, 172, 49, 1);
@btn-main-color: #179BD7;



