<!-- class .sh-my-posts-item-wrapper include .sh-post-live or .sh-post-away -->
<div class="sh-my-posts-item-wrapper sh-post-{{= postState}} sh-type-category-{{=type}}">
    {{var isDynamic = details.locations && _.find(details.locations,function(l){ return l.placeType==='dynamic';} );}}
    <div class="sh-my-posts-item-photo">        
        <div class="sh-my-posts-item-photo-wrapper">
            <a href="/posts/{{-_id}}">
                <div class="img img-responsive" style="background-image:url('{{= details.photos && details.photos.length > 0 ? details.photos[0].thumbnail||details.photos[0].data : '/images/no_image.jpg'}}')" alt="Photo of the post"></div>
            </a>
        </div> 
        {{ if (_.size(details.photos) > 0){ }}
            <div class="sh-my-posts-item-photo-count">
                <span>
                    {{=details.photos.length}}
                </span>
            </div>
        {{ } }}       
    </div>

    <div class="sh-my-posts-item-content">
        <div class="sh-my-posts-item-content-header">
            <div class="sh-my-posts-item-content-header-wrapper">
                <span class="label bg-type-category-{{=type}} pull-right">{{=type}}</span>
                <div class="sh-my-posts-item-content-title">
                    <h2><a href="/posts/{{-_id}}">{{=details.title}}</a></h2>
                </div>
            </div>
            <div class="sh-my-posts-item-content-header-stat">
                <ul class="sh-my-posts-item-stat">
                    <li><a href="#"><i class="fa fa-clock-o"></i> <span class="">{{=moment(obj.timestamp.$date).fromNow()}}</span></a></li>
                    <li><a href="#"><i class="fa fa-eye"></i> <span class="">{{=obj.stats?stats.seenAll:0}}</span></a></li>
                    <li><a title="{{=isDynamic ? 'Динамическое объявление' : 'Статическое'}}" href="#"><i class="fa fa-{{=isDynamic?'man':'flag' }}"></i> <span class="">{{=isDynamic ? 'success' : ''}}</span></a></li>
                    <li><a href="#"><i class="fa fa-location-arrow"></i> <span class="">{{=distance>-1?distance.toFixed(1) + ' '+distanceType:''}}</span></a></li>
                </ul>
            </div>            
        </div>

        <div class="sh-my-posts-item-content-body"></div>

        <div class="sh-my-posts-item-content-footer">
            <div class="sh-my-posts-item-content-footer-wrapper">
                <div class="sh-my-posts-item-content-footer-location">
                    <div class="sh-my-posts-item-content-footer-location-wrapper">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> 
                        {{var loc = _.find(details.locations,function(l) { return l.placeType==='dynamic' })||details.locations[0]; }}
                        {{ if (loc) { }}
                            <span>{{=loc.name}}</span>
                        {{ } }}
                    </div>
                </div>
                <div class="sh-my-posts-item-content-footer-progress">
                    <div class="sh-progress-bar progress">
                        <div class="progress-bar {{= progress >= 50 ? 'progress-bar-success' : (progress >=20 && progress < 50 ? 'progress-bar-warning' : 'progress-bar-danger')}}" role="progressbar" style="width: {{= progress}}%; min-width: 1em; ">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        
        <!--

        <p>{{=details.description}}</p>

        -->


        <!--<a href="#" class="btn btn-reveal btn-default js-edit-my-chat">
            <i class="fa fa-edit"></i>
            <span>Редактировать</span>
        </a>
        <a href="#" class="btn btn-reveal btn-danger js-remove-my-post">
            <i class="fa fa-remove"></i>
            <span>Удалить</span>
        </a>-->
    </div>

</div>