.sh-iframe-view {
    padding: 0 !important;
}

.sh-iframe-view .container {
    width: auto !important;
}

body.sh-hidden-overflow {
    overflow: hidden !important;
}
body.sh-hidden-overflow #wrapper {
    background-color: #eaeaea;
}
body.sh-hidden-overflow #iframeHolder section {
    padding: 0 !important;
    margin: 0 !important;
}
body.sh-hidden-overflow #iframeHolder .container {
    padding: 0 !important;
    margin: 0 !important;
}